<body>
  <div class="everything">
    <div class="background-container"></div>

    <div class="main-container">

      <div class="heading">

        <h1>Donald Wade</h1>
        <h2>Innovate
          <i class="fa fa-chevron-right"></i>
          Design
          <i class="fa fa-chevron-right"></i>
          Build
          <i class="fa fa-chevron-right"></i>
          Market
          <i class="fa fa-chevron-right"></i>
          Monetise
        </h2>

      </div>

      <div class="section group">
        <!-- <div class="blur-background">
        </div> -->
      </div>


      <span class="my-devicon-class">&#xe64b</span>

      <nav class="nav-bar">
        <ul>
          <span class="links">
            <% @links.each do |link| %>
            <li>
              <a href=<%= link.downcase %> id=<%= link.downcase %>>
                <%= link %>
              </a>
            </li>
            <% end %>
          </span>
        </ul>
      </nav>

      <div class="section group">

        <!-- blur-box -->

        <div class="box col span_6_of_12 content-box" id="box-1">
          <h3>Hi</h3>
          <p>
            Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless
            creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi
            tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh to

          </p>
        </div>

        <!-- blur-box -->

        <div class="box col span_6_of_12 content-box" id="box-2">
          <h3>Hello</h3>

          <p>
            Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless
            creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi
            tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
          </p>

        </div>
        <div class="section group">

          <div class="box col span_6_of_12">
            <p>
              <h3>
                <span class="delete-me">Some of the things that make me, me:</h3>
              </span>
            </p>
            <div class="interests"></div>
          </div>

          <div class="box col span_6_of_12">
            <div class="footer">
              <a href="https://github.com/rwck" target="_blank"><span class="my_fontawesome">&#xf092</span>

              </a>

              <a href="https://au.linkedin.com/in/donaldrwade
" target="_blank"><span class="my_fontawesome">&#xf08c</span>

              </a>

              <a href="https://twitter.com/donaldrwade" target="_blank">
                <span class="my_fontawesome">&#xf081</span>

              </a>
              <a href="mailto:rwckdw@gmail.com?subject=WebContact:">
                  <span class="my_fontawesome">&#xf0e0</span>

              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</body>
